@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

@plugin "daisyui" {
    themes: ["light", "dark"];
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #1E293B;
    /* navbar, headings, cta, footer bg, slate 800*/
    --color-secondary: #6366F1;
    /* hover, cta, badges, tags, indigo */
    --color-base-100: #FFFFFF;
    /* bg, white*/
    --color-base-200: #F8FAFC;
    /* bg,light grey*/
    --color-accent: #0F172A;
    /* text,slate 900*/
    --color-info: #10B981;
    /* cta btns,highlight ,emerald */
    --color-info-content: #0EA5E9;
    /* infobadges,msges tags, sky*/
    --color-neutral: #E2E8F0;
    /* light grey, borders */
    --color-error: #F43F5E;
}

@plugin "daisyui/theme" {
    name: "dark";
    default: false;

    --color-primary: #0B1120;
    /* navbar, headings, cta, footer bg, light text on dark bg */

    --color-secondary: #818CF8;
    /* hover, cta, badges, tags, indigo-400 */

    --color-base-100: #0F172A;
    /* bg, slate-900 */

    --color-base-200: #1E293B;
    /* bg, slate-800 */

    --color-accent: #E2E8F0;
    /* text, slate-100 */

    --color-info: #34D399;
    /* cta btns, highlight, emerald-400 */

    --color-info-content: #38BDF8;
    /* infobadges, messages, sky-400 */

    --color-neutral: #CBD5E1;
    /* borders, slate-700 */

    --color-error: #FB7185;
    /* error, rose-400 */
}


* {
    font-family: "Poppins", sans-serif;
}

